<div>
  <h5>Hosts</h5>
  <button class="btn btn-outline-primary btn-sm" (click)="showCreate()">Create</button>
  <button class="btn btn-outline-primary btn-sm" (click)="showEdit()" [disabled]="!isSelected()">Edit</button>
  <button class="btn btn-outline-primary btn-sm" (click)="delete()" [disabled]="!isSelected()">Delete</button>
</div>
<div class="entity-table">
  <div class="table-responsive">
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th *ngFor="let header of headers">{{header}}</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of items | async" (click)="onSelect(item)" [class.table-active]="item == selectedItem">
        <td *ngFor="let key of keys">{{item[key]}}</td>
      </tr>
      </tbody>
    </table>
   </div>
</div>
