
.fill-remaining-space {
  flex: 1 1 auto;
}

.app-content {
}

.main-container {
  display: flex;
  flex-direction: column;
}
.top {
  flex: 0 0 auto;
}
.content-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
}
.side {
  flex: 0 1 auto;
}
.content {
  flex: 1 1 auto;
}
